{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" href="{{@sys.currentPath}}/index.css">
{{/block}}

{{block 'main'}}
<div class="card">
  {{include sys.playerInfo}}
  <div class="status">
    <div class="item">
      <div class="value">{{card.stats.active_days}}</div>
      <div class="label">活跃天数</div>
    </div>
    <div class="item">
      <div class="value">{{card.stats.avatar_num}}</div>
      <div class="label">获得代理人</div>
    </div>
    <div class="item">
      <div class="value">{{card.stats.buddy_num}}</div>
      <div class="label">获得邦布</div>
    </div>
    <div class="item">
      <div class="value">{{card.stats.cur_period_zone_layer_count}}</div>
      <div class="label">式舆防卫战</div>
    </div>
  </div>
  <% include(sys.specialTitle, {en: 'AGENT' , cn: '代理人信息' }) %>
    <div class="list">
      {{each card.avatar_list char i}}
      <div class="item rank{{char.rarity}}">
        <div class="rank rank-icon {{char.rarity}}"></div>
        <div class="property {{char.element_str}}"></div>
        <div class="image">
          <img src="{{char.square_icon}}" alt="">
        </div>
        <div class="c-info">
          <div class="ranks r{{char.rank}}">{{char.rank}}影</div>
          <div class="level">等级{{char.level}}</div>
        </div>
      </div>
      {{/each}}
    </div>

    <% include(sys.specialTitle, {en: 'BANGBOO' , cn: '邦布信息' }) %>
      <div class="list">
        {{each card.buddy_list bangboo i}}
        <div class="item rank{{bangboo.rarity}}">
          <div class="rank rank-icon {{bangboo.rarity}}"></div>
          <div class="image">
            <img src="{{bangboo.square_icon}}" alt="">
          </div>
          <div class="c-info">
            <div class="ranks r{{bangboo.star}}">{{bangboo.star}}命</div>
            <div class="level">等级{{bangboo.level}}</div>
          </div>
        </div>
        {{/each}}
      </div>
</div>
{{/block}}