.vscode
.VSCodeCounter
*.css.map
config/**/*.*

.DS_Store

data/**/*.*

/node_modules
/dist
/test
src/model/damage/character/**/*_user.*

resources/images/**/*.*
resources/data/**/*.*
model/damage/map/

resources/map/ElementData.json
src/apps/test*
src/model/score/Score copy.js
src/model/score/Score copy.ts
src/model/Enka/test.js
src/model/Enka/parseData.js
src/model/damage/map
