.vscode
.VSCodeCounter
*.css.map
resources/**/*.css
config/**/*.*

.DS_Store

data/**/*.*

/node_modules
/dist
/test
pnpm-lock.yaml

src/model/damage/character/**/*_user.*

resources/images/**/*.*
resources/data/**/*.*

src/apps/test*
src/model/Enka/test.js
src/model/Enka/parseData.js
src/model/damage/map
