.card {
  margin: 0 1em;
}
.card .user-info {
  margin: 0 1em;
  margin-bottom: 1.5em;
}
.card .title {
  border-image-slice: 37 27 37 131 fill;
  border-image-width: 1em 1em 1em 4.5em;
  border-image-outset: 0em 0em 0em 0em;
  border-image-repeat: stretch stretch;
  min-height: 7em;
  padding: 0.7em 2.3em 0.7em 3.7em;
  display: flex;
  align-items: center;
}
.card .title.t1 {
  border-image-source: url("./images/bg1.png");
}
.card .title.t2 {
  border-image-source: url("./images/bg2.png");
}
.card .title.t3 {
  border-image-source: url("./images/bg3.png");
}
.card .title .info {
  flex-grow: 1;
  flex-shrink: 1;
}
.card .title .info .type {
  display: flex;
  align-items: flex-end;
  gap: 0.1em;
}
.card .title .info .type .label {
  font-size: 1.5em;
  text-shadow: 0.05em 0.05em 0.03em rgba(0, 0, 0, 0.4);
}
.card .title .info .type .status {
  font-size: 0.8em;
  color: #e4e4e4;
  margin-bottom: 0.2em;
  background: rgba(0, 0, 0, 0.5);
  padding: 0em 0.5em;
  border-radius: 1em;
  backdrop-filter: blur(0.3em);
}
.card .title .info .type .status .value {
  color: rgb(128, 237, 84);
  margin: 0 0.1em;
}
.card .title .info .time {
  font-size: 0.6em;
  color: #e4e4e4;
}
.card .title .info .analysis {
  width: 15em;
  display: flex;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 1em;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
  border-radius: 2em;
  padding: 0.1em 0.5em;
}
.card .title .info .analysis .item {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .title .info .analysis .item .value {
  font-size: 1.3em;
}
.card .title .info .analysis .item .label {
  font-size: 0.8em;
  color: #e4e4e4;
}
.card .title .comment {
  flex-grow: 0;
  flex-shrink: 0;
}
.card .title .comment .icon {
  width: 4.5em;
  aspect-ratio: 1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-bottom: 0.5em;
}
.card .title .comment.e1 .icon {
  background-image: url("./images/emoji/1.png");
}
.card .title .comment.e2 .icon {
  background-image: url("./images/emoji/2.png");
}
.card .title .comment.e3 .icon {
  background-image: url("./images/emoji/3.png");
}
.card .title .comment.e4 .icon {
  background-image: url("./images/emoji/4.png");
}
.card .title .comment.e5 .icon {
  background-image: url("./images/emoji/5.png");
}
.card .title .comment.e6 .icon {
  background-image: url("./images/emoji/6.png");
}
.card .title .comment.e7 .icon {
  background-image: url("./images/emoji/7.png");
}
.card .title .comment.e8 .icon {
  background-image: url("./images/emoji/8.png");
}
.card .title .comment.e9 .icon {
  background-image: url("./images/emoji/9.png");
}
.card .title .comment.e10 .icon {
  background-image: url("./images/emoji/10.png");
}
.card .title .comment.e11 .icon {
  background-image: url("./images/emoji/11.png");
}
.card .title .comment.e12 .icon {
  background-image: url("./images/emoji/12.png");
}
.card .title .comment.e13 .icon {
  background-image: url("./images/emoji/13.png");
}
.card .title .comment.e14 .icon {
  background-image: url("./images/emoji/14.png");
}
.card .title .comment.e15 .icon {
  background-image: url("./images/emoji/15.png");
}
.card .title .comment.e16 .icon {
  background-image: url("./images/emoji/16.png");
}
.card .title .comment .label {
  font-size: 1em;
  text-align: center;
}
.card .list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  padding: 0.5em 1.7em;
  margin-bottom: 1.5em;
}
.card .list .item {
  width: 100%;
  position: relative;
  border-radius: 0.5em;
  overflow: hidden;
  border: 0.2em solid #000000;
}
.card .list .item.up::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.1em;
  left: 0.2em;
  width: 1.7em;
  height: 1.7em;
  background: url("./images/IconTabUP.png") no-repeat center center;
  background-size: contain;
  z-index: 1;
}
.card .list .item .rank {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  width: 1.5em;
  color: white;
  z-index: 2;
}
.card .list .item .image {
  width: 100%;
  aspect-ratio: 1.5;
  background-color: #e2e2e2;
}
.card .list .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.card .list .item .count {
  position: absolute;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(0.3em);
  border-top-right-radius: 0.5em;
  color: white;
  text-align: center;
  padding: 0 0.3em;
  font-size: 0.9em;
}

/*# sourceMappingURL=index.css.map */
