.char-info {
  display: flex;
  align-items: flex-start;
  padding: 1em;
  gap: 1em;
}
.char-info .avatar {
  width: 5em;
  aspect-ratio: 1;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
}
.char-info .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.char-info .info {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.char-info .info .name {
  display: flex;
  align-items: flex-end;
  gap: 0.5em;
}
.char-info .info .name .simple {
  font-size: 1.5em;
}
.char-info .info .description {
  font-size: 0.8em;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 2em;
  margin: 0.5em;
}
.skills .skill {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5em;
  border-radius: 0.5em;
  backdrop-filter: blur(5px);
}
.skills .skill .description {
  display: flex;
  gap: 0.5em;
}
.skills .skill .description .icon {
  width: 4em;
  aspect-ratio: 1;
  flex-grow: 0;
  flex-shrink: 0;
}
.skills .skill .description .icon .skill-icon {
  width: 100%;
}
.skills .skill .description .info .name {
  font-size: 1.4em;
  color: rgb(246, 202, 69);
  margin: 0.5em 0;
}
.skills .skill .description .info .item {
  margin-bottom: 0.3em;
}
.skills .skill .description .info .item .title {
  font-size: 1.2em;
}
.skills .skill .description .info .item .content .line .skill-icon {
  width: 1.2em;
  margin-bottom: -0.2em;
  display: inline-block;
}
.skills .skill .detail {
  margin-bottom: 1em;
}
.skills .skill .detail .title {
  font-size: 1.1em;
  color: rgb(246, 202, 69);
  margin: 0.5em 0;
}
.skills .skill .detail .title .level {
  font-size: 0.8em;
  color: white;
  background-color: rgb(246, 202, 69);
  padding: 0.1em 0.3em;
  border-radius: 0.3em;
  margin-left: 0.5em;
  text-shadow: 0 0 0.1em rgba(0, 0, 0, 0.4);
}
.skills .skill .detail .item {
  font-size: 0.9em;
}
.skills .skill .detail .item .name {
  margin-bottom: 0.3em;
}
.skills .skill .detail .item .rate {
  display: grid;
  text-align: center;
  padding-left: 1em;
  margin-bottom: 0.5em;
  grid-template-columns: 1fr 1fr;
}
.skills .skill .detail .item .rate .tb-tr {
  display: grid;
  grid-template-columns: 2fr 1fr;
  border: 0.1em solid rgba(255, 255, 255, 0.2);
  border-bottom: none;
}
.skills .skill .detail .item .rate .tb-tr:last-child {
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.2);
}
.skills .skill .detail .item .rate .tb-tr:nth-last-child(2) {
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.2);
}
.skills .skill .detail .item .rate .tb-tr:nth-child(even) {
  border-right: none;
}
.skills .skill .detail .item .rate .tb-tr:nth-child(3n+3) {
  background-color: rgba(255, 255, 255, 0.1);
}
.skills .skill .detail .item .rate .tb-tr:nth-child(4n) {
  background-color: rgba(255, 255, 255, 0.1);
}
.skills .skill .detail .item .rate .tb-td {
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  border-right: 0.1em solid rgba(255, 255, 255, 0.2);
}
.skills .skill .detail .item .detail {
  display: grid;
  text-align: center;
  padding-left: 1em;
}
.skills .skill .detail .item .detail .tb-tr {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  border-bottom: 0.1em solid rgba(255, 255, 255, 0.2);
}
.skills .skill .detail .item .detail .tb-tr:first-child {
  border-top: 0.1em solid rgba(255, 255, 255, 0.2);
}
.skills .skill .detail .item .detail .tb-tr:nth-child(odd) {
  background-color: rgba(255, 255, 255, 0.1);
}
.skills .skill .detail .item .detail .tb-td {
  padding: 0.2em 0.5em;
  font-size: 0.9em;
  border-right: 0.1em solid rgba(255, 255, 255, 0.2);
}
.skills .skill .detail .item .detail .tb-td:last-child {
  border-right: none;
}

/*# sourceMappingURL=index.css.map */
