.damage {
  padding-top: 0.8em;
  overflow: hidden;
  position: relative;

  .uid {
    font-size: 0.6em;
    text-align: center;
    position: absolute;
    border-image-source: url("./images/CurseBG08.png");
    border-image-slice: 30 60 30 60 fill;
    border-image-width: 0.5em 1em 0.5em 1em;
    border-image-outset: 0em 0em 0em 0em;
    border-image-repeat: stretch stretch;
    padding: 0.5em 1.2em;
    font-size: 1em;
    top: 0.5em;
    left: 0.5em;
    color: rgb(255, 255, 255);
    stroke: 0.05em rgba(0, 0, 0, 0.6);
    -webkit-text-stroke: 0.05em rgba(0, 0, 0, 0.6);
    z-index: 1;
  }

  .star {
    width: 5.5em;
    height: 1.5em;

    @for $i from 0 through 5 {
      &.star#{$i} {
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image: url("./images/star/#{$i}.png");
      }
    }
  }

  .basic {
    display: flex;
    align-items: stretch;
    overflow: hidden;

    .char {
      width: 55%;
      position: relative;
      flex-grow: 1;

      .avatar {
        height: 100%;
        padding-top: 1em;
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top center;
          position: absolute;
        }
      }

      .skills {
        position: absolute;
        width: 120%;
        height: 3.5em;
        background: url("./images/skill_bg.png");
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        bottom: 3em;
        right: -1.6em;
        display: flex;
        align-items: flex-end;
        padding-left: 2.5em;
        padding-bottom: 0.2em;

        .skill {
          width: 1.4em;
          aspect-ratio: 1;
          margin-right: 1.38em;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .info {
      width: 45%;
      flex-grow: 0;
      flex-shrink: 0;
      font-size: 1.2em;
      position: relative;
      z-index: 2;

      .char_info {
        width: 140%;
        position: relative;
        right: 20%;
        padding: 0.3em 0.1em;
        padding-right: 20%;
        padding-left: 8%;
        border-image-slice: 0 30 0 40 fill;
        border-image-width: 0em 1.5em 0em 2em;
        border-image-outset: 0 0 0 0;
        border-image-repeat: stretch stretch;
        border-image-source: url("./images/CurseBG04.png");
        filter: drop-shadow(0 0 0.1em rgb(0, 0, 0));

        .base {
          display: flex;
          align-items: center;
          gap: 0.2em;
          overflow: hidden;

          .rank {
            width: 1.2em;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .element-icon {
            width: 1em;
            flex-grow: 0;
            flex-shrink: 0;
          }

          .name {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
        }

        .addition {
          display: flex;
          align-items: center;
          font-size: 0.7em;
          gap: 0.2em;
          padding-left: 1em;

          .level {
            background-color: #000;
            padding: 0em 0.7em;
            border-radius: 1em;
          }

          .role_ranks {
            display: flex;
            gap: 0.15em;

            span {
              width: 1.2em;
              aspect-ratio: 1;
              border-radius: 1em;
              background-size: contain;
              background-repeat: no-repeat;
              background-position: center;
              opacity: 0.4;
            }

            @for $i from 1 through 6 {
              span:nth-child(#{$i}) {
                background-image: url("./images/ranks/#{$i}.png");
              }

              &.r#{$i} {
                @for $j from 1 through $i {
                  span:nth-child(#{$j}) {
                    opacity: 1 !important;
                  }
                }
              }
            }
          }
        }
      }

      .property_info {
        background-color: rgb(38 38 38);
        border-left: 0.1em solid rgb(0, 0, 0);
        padding-top: 0.15em;

        .title {
          font-size: 0.6em;

          .special-title {
            margin-bottom: 0;
            padding-bottom: 0;
          }
        }

        .list {
          display: flex;
          flex-direction: column;
          gap: 0.2em;
          padding-bottom: 0.2em;

          .properties {
            display: grid;
            align-items: center;
            grid-template-columns: 1.4em minmax(0, 1fr) minmax(3.2em, 4.4em) minmax(2em, 3em);
            column-gap: 0.4em;
            padding: 0.05em 0.5em 0em 0.05em;

            &:nth-child(odd) {
              background-color: rgba(221, 224, 221, 0.25);
            }

            .prop-icon,
            .element-icon {
              width: 1em;
              flex-grow: 0;
              flex-shrink: 0;
              margin: 0 0.4em;
              justify-self: start;
              grid-column: 1;
            }

            .label {
              flex-grow: 1;
              flex-shrink: 1;
              font-size: 0.65em;
              color: rgb(166, 166, 166);
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              justify-self: start;
              grid-column: 2;

              &.yellow {
                color: rgb(247, 199, 54);
              }

              &.blue {
                color: rgb(65, 147, 237);
              }

              &.white {
                color: rgb(233, 233, 233);
              }
            }

            .value-detail {
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              font-size: 0.55em;
              line-height: 1.1;
              gap: 0.1em;
              min-width: 3.2em;
              flex-grow: 0;
              flex-shrink: 0;
              justify-self: end;
              grid-column: 3;
              text-align: right;

              .base {
                color: rgb(182, 182, 182);
              }

              .add {
                color: rgb(96, 201, 124);
              }
            }

            .value {
              flex-grow: 0;
              flex-shrink: 0;
              font-size: 0.8em;
              justify-self: end;
              grid-column: 4;
              text-align: right;
            }
          }
        }
      }

      .weapon_info {
        border-image-slice: 118 0 68 43 fill;
        border-image-width: 4.5em 0em 2.7em 1.7em;
        border-image-outset: 0em 0em 0em 0em;
        border-image-repeat: stretch stretch;
        border-image-source: url("./images/weapon_bg.png");
        margin-top: -0.8em;
        width: 115%;
        margin-left: -15%;
        font-size: 0.8em;
        padding: 2em 1.2em;
        padding-bottom: 3em;
        position: relative;
        overflow: hidden;

        .info {
          width: 100%;
          position: relative;
          z-index: 2;

          .base {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 0.5em;

            .rarity-icon {
              width: 2em;
            }

            .name {
              text-shadow: 0 0 0.2em rgb(0, 0, 0);
            }
          }

          .main {
            display: flex;
            flex-direction: column;
            justify-content: stretch;
            width: max-content;

            .addition {
              font-size: 0.8em;
              display: flex;
              align-items: center;
              gap: 0.4em;

              .level {
                $label-width: 0.2em;
                -webkit-clip-path: polygon(
                  $label-width 0%,
                  calc(100% - $label-width) 0%,
                  100% $label-width,
                  100% calc(100% - $label-width),
                  calc(100% - $label-width) 100%,
                  $label-width 100%,
                  0% calc(100% - $label-width),
                  0% $label-width
                );
                clip-path: polygon(
                  $label-width 0%,
                  calc(100% - $label-width) 0%,
                  100% $label-width,
                  100% calc(100% - $label-width),
                  calc(100% - $label-width) 100%,
                  $label-width 100%,
                  0% calc(100% - $label-width),
                  0% $label-width
                );
                padding: 0 0.4em;
                font-size: 0.9em;
                display: flex;
                justify-content: center;
                align-items: center;
                color: rgb(43, 38, 40);
                margin: 0.1em 0;
                background-color: rgb(243, 203, 69);
              }
            }

            .properties {
              display: flex;
              align-items: center;
              background-color: rgb(65, 147, 237);
              gap: 0.2em;
              padding: 0 0.5em;
              border-radius: 1em;
              margin: 0.2em 0;

              &.sub {
                background-color: rgb(0, 0, 0);
              }

              .prop-icon {
                width: 1em;
                flex-grow: 0;
                flex-shrink: 0;
              }

              .label {
                flex-grow: 1;
                flex-shrink: 1;
                font-size: 0.7em;
                color: rgb(222, 222, 222);
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
              }
            }
          }
        }

        .icon {
          position: absolute;
          top: 1.2em;
          right: 0;
          z-index: 1;
          height: 70%;
          margin-right: -1em;

          img {
            height: 100%;
          }
        }
      }
    }
  }

  .damage-data {
    border-image-source: url("./images/BgFrame01.png");
    border-image-slice: 200 100 70 280 fill;
    border-image-width: 2em 1em 0.7em 2.8em;
    border-image-outset: 2em 1em 0.7em 2.8em;
    border-image-repeat: stretch stretch;
    padding-bottom: 3.3em;
    margin-top: -1.4em;
    position: relative;
    z-index: 5;
  }

  .title:nth-child(n + 2) {
    padding-top: 0.5em;
  }

  .data-list {
    margin: 0 1.2em;
    text-align: center;
    backdrop-filter: blur(0.2em);
    border-radius: 0.5em;
    overflow: hidden;
    box-shadow: 0 0 3em rgba(0, 0, 0, 0.6);
    border: 0.1em solid rgba(255, 255, 255, 0.3);

    .tr {
      display: grid;
      border-bottom: 0.1em solid rgba(255, 255, 255, 0.3);

      &:first-child {
        font-size: 1.1em;
        background: rgba(0, 0, 0, 0.2);
        text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.6);
        color: rgb(206, 190, 149);
      }

      &:last-child {
        border-bottom: none;
      }

      &:nth-child(even) {
        background-color: rgba(255, 255, 255, 0.12);
      }
    }

    .td {
      padding: 0.5em 0;
      font-size: 0.9em;
      border-right: 0.1em solid rgba(255, 255, 255, 0.3);
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      &:last-child {
        border-right: none;
      }
    }

    .info-tr {
      font-size: 0.8em !important;
      display: grid !important;
      grid-template-columns: 1fr !important;
      padding: 0.3em !important;
      color: #bbb !important;

      span {
        color: #fff !important;
      }
    }
  }

  /* 伤害统计 */
  .damage-list {
    .column3 {
      grid-template-columns: 0.28fr 2fr 2fr;
    }

    .column4 {
      grid-template-columns: 0.28fr 2fr 1fr 1fr;
    }

    .dmg-tr {
      &.current {
        background: rgb(120, 104, 73);

        .dmg-td:nth-child(2) {
          color: rgb(251, 198, 65) !important;
          font-weight: bold !important;
        }
      }
    }

    .dmg-td {
      &:nth-child(2) {
        background: rgba(0, 0, 0, 0.2);
        color: rgb(206, 190, 149);
      }
    }
  }

  /* 乘区数据 */
  .area-list {
    .area-tr {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

      &:nth-child(odd) {
        font-size: 1.1em;
        background: rgba(0, 0, 0, 0.2);
        text-shadow: 0 0 0.2em rgba(0, 0, 0, 0.6);
        color: rgb(206, 190, 149);
      }
      &.anomaly {
        grid-template-columns: 1fr 1fr 1fr;
      }
    }

    .area-td {
    }
  }

  /* buff统计 */
  .buff-list {
    .buff-tr {
      grid-template-columns: 0.7fr 5fr 1.8fr 2.5fr 1.8fr;
    }

    .buff-td {
      &:nth-child(2) {
        background: rgba(0, 0, 0, 0.2);
        color: rgb(206, 190, 149);
      }
    }
  }

  /* 差异计算 */
  .difference-list {
    .difference-tr {
      @for $i from 2 through 9 {
        &.d#{$i} {
          grid-template-columns: repeat($i + 1, 1fr);
        }
      }
    }

    .difference-td {
      flex-direction: column;

      span {
        font-size: 0.8em;
        color: #bbb;
      }

      &.zero {
        background-color: #222;
      }

      &:first-child {
        background: rgba(0, 0, 0, 0.2);
        color: rgb(206, 190, 149);
      }

      &.positive {
        background-color: rgb(82, 38, 32);
      }

      &.negative {
        background-color: rgb(22, 65, 33);
      }
    }
  }
}

.copyright {
  margin-top: -3.3em;
  position: relative;
  z-index: 5;
}
