body {
  width: 2400px;
}

.rating-icon.S,
.rating-icon.SP {
  filter: drop-shadow(0 0 0.2em rgb(167 193 2 / 80%)) brightness(1.1);
}

.rating-icon.A,
.rating-icon.AP {
  filter: drop-shadow(0 0 0.2em rgb(201 0 201 / 80%)) brightness(1.1);
}

.rating-icon.B {
  filter: drop-shadow(0 0 0.2em rgb(0, 68, 209, 0.8)) brightness(1.1);
}

.max-score-icon {
  filter: drop-shadow(0 0 0.1em rgba(197, 251, 255, 0.6)) brightness(1.1);
  width: 9.4em;
  height: 3.8em;
}

.max-score-icon.score50000 {
  width: 3.2em;
  height: 1.2em;
  scale: 1.1;
  margin-top: 0.2em;
}

.item-rating {
  position: absolute;
  top: 0.4em;
  right: 0.6em;
  width: 5em;
  height: 5em;
  z-index: 3;
}

.card {
  margin: 0 1em;
  padding-top: 1em;
  .star {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('./images/star-icon-light.png');
    border-radius: 50%;
    background-size: contain;
    &.inactive {
      background-image: url('./images/star-icon-dark.png');
    }
  }
  .record {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    align-items: center;
    height: 9em;
    .user-info {
      width: 650px;
      padding: 0.5em;
      border-image-slice: 200 100 70 280 fill;
      border-image-width: 2em 1em 0.7em 2.8em;
      border-image-outset: 0em 0em 0em 0em;
      border-image-repeat: stretch stretch;
      .info-bar {
        display: flex;
        flex-direction: column;
        gap: 0.5em;
      }
      .result {
        display: flex;
        padding: 0.5em;
        gap: 1em;
        margin-top: 0.5em;
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        .value {
          display: flex;
          flex-direction: column;
          align-items: center;
          .label {
            font-size: 1.5em;
            color: #ddd;
          }
          .total-score {
            font-size: 1.5em;
            font-weight: bold;
          }
        }
        .rank {
          display: flex;
          flex-direction: column;
          align-items: center;
          .label {
            font-size: 1.5em;
            color: #ddd;
          }
          .value {
            font-size: 1.5em;
            font-weight: bold;
          }
          .rating-icon {
            width: 60px;
            transform: scale(1.5);
            transform-origin: center;
          }
        }
      }
    }
    .item-card {
      width: 22em;
      height: 100%;
      border-image-source: url('./images/BgFrame01.png');
      border-image-slice: 200 100 70 280 fill;
      border-image-width: 2em 1em 0.7em 2.8em;
      border-image-outset: 0em 0em 0em 0em;
      border-image-repeat: stretch stretch;
      padding: 1.5em 1.7em;
      margin-bottom: 1em;
      display: flex;
      gap: 1.2em;
      position: relative;
      min-width: 0;
      .content {
        display: flex;
        flex-direction: column;
        gap: 0.2em;
        flex: 1;
        margin-right: 0.3em;
        .header {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          .name {
            background: linear-gradient(
              180deg,
              rgba(255, 255, 255, 1) 0%,
              rgba(255, 255, 255, 0.4) 100%
            );
            -webkit-background-clip: text;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 1.2em;
            flex-shrink: 0;
          }
          .value {
            display: flex;
            font-size: 1.6em;
            gap: 0.2em;
            align-items: center;
            flex-shrink: 0;
            .val {
              background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0.4) 100%
              );
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
            }
            .rating-icon {
              width: 60px;
              transform: scale(1.5);
              transform-origin: center;
            }
            .stars {
              display: flex;
              margin-left: 0.2em;
              align-items: center;
              .star {
                width: 0.9em;
                height: 0.9em;
                margin-left: -0.25em;
              }
            }
          }
        }
        .list {
          display: grid;
          grid-template-columns: 1fr 1fr 1fr 0.7fr;
          align-items: flex-end;
          gap: 1em;
          margin-top: auto;
          margin-bottom: 0.2em;
          .char-container,
          .bangboo-container {
            width: 100%;
            .item {
              width: 100%;
              position: relative;
              border-radius: 0.5em;
              box-shadow: 0 0 0 0.12em black, 0 0 0 0.24em #333534;
              > * {
                position: inherit;
                z-index: 1;
              }
              &.bangboo {
                font-size: 0.8em;
              }
              .count {
                position: absolute;
                right: 0;
                top: 0;
                z-index: 2;
                background-color: rgba(0, 0, 0, 0.5);
                padding: 0.1em 0.3em;
                font-size: 0.8em;
                border-bottom-left-radius: 0.3em;
                border-top-right-radius: 0.5em;
              }
              .rank_disp {
                position: absolute;
                top: 0em;
                left: 0em;
                background-color: rgb(0, 0, 0);
                z-index: 2;
                padding: 0.1em;
                border-bottom-right-radius: 0.25em;
                border-top-left-radius: 0.25em;
                .rank {
                  width: 1em;
                  color: white;
                  position: relative;
                  &::before {
                    content: '';
                    position: absolute;
                    top: -0.1em;
                    right: -0.4em;
                    width: 0.3em;
                    height: 0.3em;
                    background: radial-gradient(
                      circle at 100% 0,
                      transparent 0.3em,
                      rgb(0, 0, 0) 0.3em
                    );
                    rotate: 90deg;
                  }
                  &::after {
                    content: '';
                    position: absolute;
                    bottom: -0.4em;
                    left: -0.1em;
                    width: 0.3em;
                    height: 0.3em;
                    background: radial-gradient(
                      circle at 100% 0,
                      transparent 0.3em,
                      rgb(0, 0, 0) 0.3em
                    );
                    rotate: 90deg;
                  }
                }
              }
              .image {
                width: 100%;
                aspect-ratio: 1;
                border-radius: 0.5em;
                overflow: hidden;
                img {
                  width: 100%;
                  height: 100%;
                  object-fit: cover;
                  object-position: top;
                  display: block;
                }
              }
              &.bangboo {
                .image {
                  position: relative;
                  img {
                    width: 210%;
                    height: 200%;
                    position: absolute;
                    object-position: center;
                    top: 50%;
                    left: 50%;
                    transform: translate(-40%, -35%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .notes-container {
    padding: 0.5em 1em;
    border-image-source: url('./images/BgFrame01.png');
    border-image-slice: 200 100 70 280 fill;
    border-image-width: 2em 1em 0.7em 2.8em;
    border-image-outset: 0em 0em 0em 0em;
    border-image-repeat: stretch stretch;
    margin-bottom: 1em;
    display: flex;
    .notes {
      margin: 0 2em;
      
      li {
        margin: 0.3em 0;
        color: #979797;
      }
      
      .command {
        color: rgb(255, 215, 0);
        padding: 0 0.3em;
      }
    }
  }
}
