{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{@sys.currentPath}}/index.css">
{{/block}}

{{block 'main'}}
<div class="card">
  <% include(sys.specialTitle, {en: 'ABYSS RANK' , cn: '式舆防卫战排名' }) %>
    {{each scoredData record i}}
    <div class="record">
      <div class="user-info">
        <link rel="stylesheet" type="text/css" href="{{@sys.resourcesPath}}/common/layout/playerinfo.css" />
        {{set avatar = record.player.avatar}}
        {{set player = record.player.player}}
        <div class="avatar">
          <img src="{{avatar}}" alt="Avatar">
        </div>
        <div class="info-bar">
          <div class="info">
            <div class="nickname">{{player.nickname}}</div>
          </div>
          <div class="info">
            <div class="label level">Lv{{player.level}}</div>
            <div class="label server">{{player.region_name}}</div>
          </div>
          <div class="uid">UID {{player.game_uid}}</div>
        </div>
        <div class="result">
          <div class="value">
            <div class="label">总得分</div>
            {{if record.score.score === 150000}}
              <div class="max-score-icon score150000"></div>
            {{else}}
              <div class="total-score">{{record.score.score}}</div>
            {{/if}}
          </div>
          <div class="rank">
            <div class="label">评级</div>
            <div class="rating-icon {{record.score.rating.replace('+', 'P')}}"></div>
          </div>
        </div>
      </div>
      <% for(let i=0 ; i < 3 ; i++) { %>
      {{set layer = record.result.hadal_info_v2.fitfh_layer_detail.layer_challenge_info_list[i]}}
      <div class="item-card">
        {{if layer}}

        <div class="content">
          <div class="header">
            <div class="name">{{layer.buffer.title}}</div>
            <div class="value">
              {{if layer.score === 50000}}
                <div class="max-score-icon score50000"></div>
              {{else}}
                <div class="val">{{layer.score}}</div>
              {{/if}}
              <div class="rating-icon {{layer.rating.replace('+', 'P')}}"></div>
            </div>
          </div>
          <div class="list">
            <% for(let j=0 ; j < 3 ; j++) { %>
            <div class="char-container">
              {{if layer.avatar_list?.[j]}}
              <div class="item char">
                {{if layer.avatar_list[j].rank}}
                <div class="count">{{layer.avatar_list[j].rank}}</div>
                {{/if}}
                <div class="rank_disp">
                  <div class="rank rank-icon {{layer.avatar_list[j].rarity}}"></div>
                </div>
                <div class="image">
                  <img src="{{layer.avatar_list[j].role_square_url}}" alt="">
                </div>
              </div>
              {{else}}
                <div class="item char"></div>
                {{/if}}
            </div>
            <% } %>
            <div class="bangboo-container">
              {{if layer.buddy}}
              <div class="item bangboo">
                <div class="rank_disp">
                  <div class="rank rank-icon {{layer.buddy.rarity}}"></div>
                </div>
                <div class="image">
                  <img src="{{layer.buddy.bangboo_rectangle_url}}" alt="">
                </div>
              </div>
              {{else}}
                <div class="item bangboo"></div>
              {{/if}}
            </div>
          </div>
        </div>
        {{/if}}
      </div>
      <% } %>
    </div>
    {{/each}}
    <div class="notes-container">
      <ul class="notes">
        <li>式舆防卫战排名仅统计第五层的成绩</li>
        <li>请在群内查询<span class="command">%式舆防卫战</span>，以参与对应群的式舆防卫战排名</li>
      </ul>
    </div>
</div>

{{/block}}