{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" type="text/css" href="{{@sys.currentPath}}/index.css">
{{/block}}

{{block 'main'}}
<div class="card">
  <% include(sys.specialTitle, {en: 'DEADLY RANK' , cn: '危局强袭战排名' }) %>
    {{each scoredData record i}}
    <div class="record">
      <div class="user-info">
        <link rel="stylesheet" type="text/css" href="{{@sys.resourcesPath}}/common/layout/playerinfo.css" />
        {{set avatar = record.player.avatar}}
        {{set player = record.player.player}}
        <div class="avatar">
          <img src="{{avatar}}" alt="Avatar">
        </div>
        <div class="info-bar">
          <div class="info">
            <div class="nickname">{{player.nickname}}</div>
          </div>
          <div class="info">
            <div class="label level">Lv{{player.level}}</div>
            <div class="label server">{{player.region_name}}</div>
          </div>
          <div class="uid">UID {{player.game_uid}}</div>
          <div class="result">
            <div class="value">
              <div class="label">总得分</div>
              <div class="value">{{record.result.total_score}}</div>
            </div>
            <div class="rank">
              <div class="label">星级</div>
              <div class="value">{{record.result.total_star}}</div>
            </div>
          </div>
        </div>
      </div>      
      <div class="item-card">
        {{each record.result.list team i}}
        <div class="team">
          <div class="info">
            <div class="label">{{team.boss[0].name}}</div>
            <div class="spent">得分：{{team.score}}</div>
            <div class="star">{{team.star}}星</div>
          </div>
          <div class="list">
            <% for(let j=0 ; j < 3 ; j++) { %>
              {{if team.avatar_list?.[j]}}
              {{set char = team.avatar_list[j]}}
              <div class="item char rank{{char.rarity}}">
                <div class="rank rank-icon {{char.rarity}}"></div>
                <div class="image">
                  <img src="{{char.role_square_url}}" alt="">
                </div>
                <div class="c-info">
                  <div class="ranks r{{char.rank}}">{{char.rank}}影</div>
                  <div class="level">等级{{char.level}}</div>
                </div>
              </div>
              {{else}}
                <div class="item char rankb"></div>
              {{/if}}
              <% } %>
                {{if team.buddy}}
                <div class="item bangboo rank{{team.buddy.rarity}}">
                  <div class="rank rank-icon {{team.buddy.rarity}}"></div>
                  <div class="image">
                    <img src="{{team.buddy.bangboo_rectangle_url}}" alt="">
                  </div>
                  <div class="c-info">
                    <div class="level">等级{{team.buddy.level}}</div>
                  </div>
                </div>
                {{else}}
                  <div class="item bangboo rankb"></div>
                {{/if}}
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    {{/each}}
</div>

{{/block}}