body {
  width: 2400px;
}

.card {
  margin: 0 1em;
  padding-top: 1em;
  .star {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url('./images/star-icon-light.png');
    border-radius: 50%;
    background-size: contain;
    &.inactive {
      background-image: url('./images/star-icon-dark.png');
    }
  }
  .record {
    display: flex;
    gap: 1em;
    margin-bottom: 1em;
    align-items: center;
    height: 9em;
    .user-info {
      width: 650px;
      padding: 0.5em;
      border-image-slice: 200 100 70 280 fill;
      border-image-width: 2em 1em 0.7em 2.8em;
      border-image-outset: 0em 0em 0em 0em;
      border-image-repeat: stretch stretch;
      .result {
        display: flex;
        padding: 0 0.5em;
        gap: 1em;
        .value {
          display: flex;
          flex-direction: column;
          align-items: center;
          .label {
            font-size: 1.5em;
            color: #ddd;
          }
          .value {
            font-size: 1.5em;
            font-weight: bold;
          }
        }
        .rank {
          display: flex;
          flex-direction: column;
          align-items: center;
          .label {
            font-size: 1.5em;
            color: #ddd;
          }
          .value {
            font-size: 1.5em;
            font-weight: bold;
          }
        }
      }
    }
    .item-card {
      width: 22em;
      height: 100%;
      border-image-source: url('./images/BgFrame01.png');
      border-image-slice: 200 100 70 280 fill;
      border-image-width: 2em 1em 0.7em 2.8em;
      border-image-outset: 0em 0em 0em 0em;
      border-image-repeat: stretch stretch;
      padding: 1.5em 1.7em;
      margin-bottom: 1em;
      display: flex;
      gap: 1.2em;
      position: relative;
      min-width: 0;
      .pop {
        position: absolute;
        top: 0;
        right: 0;
        width: 2.5em;
        height: 2.5em;
        background-image: url('./images/PetSelectBG.png');
        background-size: 100% 100%;
        padding: 0.3em;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
        z-index: 2;
      }
      .cover {
        position: relative;
        height: 9em;
        border-radius: 0.6em;
        overflow: hidden;
        border: 0.1em solid #343434;
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3), 0.2em 0.2em 0 rgb(0, 0, 0);
        flex-shrink: 0;
        flex-grow: 0;
        &::before {
          content: '';
          position: absolute;
          border-radius: 0.6em;
          z-index: 2;
          inset: 0;
          border: 0.15em solid rgba(255, 255, 255, 0.3);
        }
        .bg {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
          }
        }
        .icon {
          position: absolute;
          bottom: 0.2em;
          right: 0.2em;
          width: 3em;
          height: 3em;
          z-index: 3;
          img {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: block;
          }
        }
        img {
          height: 100%;
          position: relative;
          z-index: 1;
          display: block;
        }
      }
      .content {
          display: flex;
          flex-direction: column;
          gap: 0.2em;
          flex: 1;
          margin-right: 0.3em;
          .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .name {
              background: linear-gradient(
                180deg,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0.4) 100%
              );
              -webkit-background-clip: text;
              background-clip: text;
              -webkit-text-fill-color: transparent;
              font-size: 1.2em;
              flex-shrink: 0;
            }
            .value {
              display: flex;
              font-size: 1.6em;
              gap: 0.2em;
              align-items: center;
              flex-shrink: 0;
              .val {
                background: linear-gradient(
                  180deg,
                  rgba(255, 255, 255, 1) 0%,
                  rgba(255, 255, 255, 0.4) 100%
                );
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
              }
              .stars {
                display: flex;
                margin-left: 0.2em;
                align-items: center;
                .star {
                  width: 0.9em;
                  height: 0.9em;
                  margin-left: -0.25em;
                }
              }
            }
          }
          .list {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 0.7fr;
            align-items: flex-end;
            gap: 1em;
            margin-top: auto;
            margin-bottom: 0.2em;
            .char-container,
            .bangboo-container {
              width: 100%;
              .item {
                width: 100%;
                position: relative;
                border-radius: 0.5em;
                box-shadow: 0 0 0 0.12em black, 0 0 0 0.24em #333534;
                > * {
                  position: inherit;
                  z-index: 1;
                }
                &.bangboo {
                  font-size: 0.8em;
                }
                .count {
                  position: absolute;
                  right: 0;
                  top: 0;
                  z-index: 2;
                  background-color: rgba(0, 0, 0, 0.5);
                  padding: 0.1em 0.3em;
                  font-size: 0.8em;
                  border-bottom-left-radius: 0.3em;
                  border-top-right-radius: 0.5em;
                }
                .rank_disp {
                  position: absolute;
                  top: 0em;
                  left: 0em;
                  background-color: rgb(0, 0, 0);
                  z-index: 2;
                  padding: 0.1em;
                  border-bottom-right-radius: 0.25em;
                  border-top-left-radius: 0.25em;
                  .rank {
                    width: 1em;
                    color: white;
                    position: relative;
                    &::before {
                      content: '';
                      position: absolute;
                      top: -0.1em;
                      right: -0.4em;
                      width: 0.3em;
                      height: 0.3em;
                      background: radial-gradient(
                        circle at 100% 0,
                        transparent 0.3em,
                        rgb(0, 0, 0) 0.3em
                      );
                      rotate: 90deg;
                    }
                    &::after {
                      content: '';
                      position: absolute;
                      bottom: -0.4em;
                      left: -0.1em;
                      width: 0.3em;
                      height: 0.3em;
                      background: radial-gradient(
                        circle at 100% 0,
                        transparent 0.3em,
                        rgb(0, 0, 0) 0.3em
                      );
                      rotate: 90deg;
                    }
                  }
                }
                .image {
                  width: 100%;
                  aspect-ratio: 1;
                  border-radius: 0.5em;
                  overflow: hidden;
                  img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: top;
                    display: block;
                  }
                }
                &.bangboo {
                  .image {
                    position: relative;
                    img {
                      width: 210%;
                      height: 200%;
                      position: absolute;
                      object-position: center;
                      top: 50%;
                      left: 50%;
                      transform: translate(-40%, -35%);
                    }
                  }
                }
              }
            }
          }
      }
    }
  }
}
