body {
  width: 2400px;
}

.rating-icon.S,
.rating-icon.SP {
  filter: drop-shadow(0 0 0.2em rgba(167, 193, 2, 0.8)) brightness(1.1);
}

.rating-icon.A,
.rating-icon.AP {
  filter: drop-shadow(0 0 0.2em rgba(201, 0, 201, 0.8)) brightness(1.1);
}

.rating-icon.B {
  filter: drop-shadow(0 0 0.2em rgba(0, 68, 209, 0.8)) brightness(1.1);
}

.max-score-icon {
  filter: drop-shadow(0 0 0.1em rgba(197, 251, 255, 0.6)) brightness(1.1);
  width: 5.6em;
  height: 2em;
}

.max-score-icon.score663000 {
  width: 5.6em;
  height: 2em;
}

.max-score-icon.score182000 {
  width: 6.4em;
  height: 2.4em;
  scale: 1.1;
}

.max-score-icon.score149500 {
  width: 6.4em;
  height: 2.4em;
  scale: 1.1;
}

.card {
  margin: 0 1em;
  padding-top: 1em;
}
.card .record {
  display: flex;
  gap: 1em;
  margin-bottom: 1em;
  align-items: center;
  height: 11em;
}
.card .record .user-info {
  width: 710px;
  padding: 0.5em;
  border-image-slice: 200 100 70 280 fill;
  border-image-width: 2em 1em 0.7em 2.8em;
  border-image-outset: 0em 0em 0em 0em;
  border-image-repeat: stretch stretch;
}
.card .record .user-info .info-bar {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}
.card .record .user-info .result {
  display: flex;
  padding: 0.5em;
  gap: 1em;
  margin-top: 0.5em;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}
.card .record .user-info .result .value {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card .record .user-info .result .value .label {
  font-size: 1.5em;
  color: #ddd;
}
.card .record .user-info .result .value .total-score {
  font-size: 1.5em;
  font-weight: bold;
}
.card .record .item-card {
  width: 22em;
  height: 100%;
  border-image-source: url("./images/BgFrame01.png");
  border-image-slice: 200 100 70 280 fill;
  border-image-width: 2em 1em 0.7em 2.8em;
  border-image-outset: 0em 0em 0em 0em;
  border-image-repeat: stretch stretch;
  padding: 1.2em 1.4em;
  margin-bottom: 1em;
  display: flex;
  gap: 1.2em;
  position: relative;
  min-width: 0;
}
.card .record .item-card.boss-card {
  border-image-source: url("./images/BgFrame01.png");
}
.card .record .item-card .pop {
  position: absolute;
  top: 0;
  right: 0;
  width: 2.5em;
  height: 2.5em;
  background-image: url("./images/PetSelectBG.png");
  background-size: 100% 100%;
  padding: 0.3em;
}
.card .record .item-card .pop img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.card .record .item-card .pop {
  z-index: 2;
}
.card .record .item-card .content {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  flex: 1;
  margin-right: 0.3em;
}
.card .record .item-card .content .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.card .record .item-card .content .header .left {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}
.card .record .item-card .content .header .right {
  display: flex;
  align-items: center;
}
.card .record .item-card .content .header .name {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.4) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.2em;
  flex-shrink: 0;
}
.card .record .item-card .content .header .score {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.4) 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.6em;
  font-weight: bold;
}
.card .record .item-card .content .header .rating-icon {
  width: 60px;
  transform: scale(1.5);
  transform-origin: center;
}
.card .record .item-card .content .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.7fr;
  align-items: flex-end;
  gap: 1em;
  margin-top: auto;
  margin-bottom: 0.2em;
}
.card .record .item-card .content .list .char-container,
.card .record .item-card .content .list .bangboo-container {
  width: 100%;
}
.card .record .item-card .content .list .char-container .item,
.card .record .item-card .content .list .bangboo-container .item {
  width: 100%;
  position: relative;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0.12em black, 0 0 0 0.24em #333534;
}
.card .record .item-card .content .list .char-container .item > *,
.card .record .item-card .content .list .bangboo-container .item > * {
  position: inherit;
  z-index: 1;
}
.card .record .item-card .content .list .char-container .item.bangboo,
.card .record .item-card .content .list .bangboo-container .item.bangboo {
  font-size: 0.8em;
}
.card .record .item-card .content .list .char-container .item .count,
.card .record .item-card .content .list .bangboo-container .item .count {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.1em 0.3em;
  font-size: 0.8em;
  border-bottom-left-radius: 0.3em;
  border-top-right-radius: 0.5em;
}
.card .record .item-card .content .list .char-container .item .rank_disp,
.card .record .item-card .content .list .bangboo-container .item .rank_disp {
  position: absolute;
  top: 0em;
  left: 0em;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  padding: 0.1em;
  border-bottom-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
}
.card .record .item-card .content .list .char-container .item .rank_disp .rank,
.card .record .item-card .content .list .bangboo-container .item .rank_disp .rank {
  width: 1em;
  color: white;
  position: relative;
}
.card .record .item-card .content .list .char-container .item .rank_disp .rank::before,
.card .record .item-card .content .list .bangboo-container .item .rank_disp .rank::before {
  content: "";
  position: absolute;
  top: -0.1em;
  right: -0.4em;
  width: 0.3em;
  height: 0.3em;
  background: radial-gradient(circle at 100% 0, transparent 0.3em, rgb(0, 0, 0) 0.3em);
  rotate: 90deg;
}
.card .record .item-card .content .list .char-container .item .rank_disp .rank::after,
.card .record .item-card .content .list .bangboo-container .item .rank_disp .rank::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: -0.1em;
  width: 0.3em;
  height: 0.3em;
  background: radial-gradient(circle at 100% 0, transparent 0.3em, rgb(0, 0, 0) 0.3em);
  rotate: 90deg;
}
.card .record .item-card .content .list .char-container .item .image,
.card .record .item-card .content .list .bangboo-container .item .image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0.5em;
  overflow: hidden;
}
.card .record .item-card .content .list .char-container .item .image img,
.card .record .item-card .content .list .bangboo-container .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}
.card .record .item-card .content .list .char-container .item.bangboo .image,
.card .record .item-card .content .list .bangboo-container .item.bangboo .image {
  position: relative;
}
.card .record .item-card .content .list .char-container .item.bangboo .image img,
.card .record .item-card .content .list .bangboo-container .item.bangboo .image img {
  width: 210%;
  height: 200%;
  position: absolute;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -35%);
}
.card .notes-container {
  padding: 0.5em 1em;
  border-image-source: url("./images/BgFrame01.png");
  border-image-slice: 200 100 70 280 fill;
  border-image-width: 2em 1em 0.7em 2.8em;
  border-image-outset: 0em 0em 0em 0em;
  border-image-repeat: stretch stretch;
  margin-bottom: 1em;
  display: flex;
}
.card .notes-container .notes {
  margin: 0 2em;
}
.card .notes-container .notes li {
  margin: 0.3em 0;
  color: #979797;
}
.card .notes-container .notes .command {
  color: rgb(255, 215, 0);
  padding: 0 0.3em;
}

/*# sourceMappingURL=index.css.map */
