.container {
  background-image: url('./images/bg2.jpg');
}

.summary-section {
  margin: 0 1em 1em;
  .summary-card {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5em;
    padding: 1em;
    .summary-title {
      font-size: 1.2em;
      color: rgb(240, 145, 53);
      margin-bottom: 0.8em;
      font-weight: bold;
    }
    .summary-content {
      display: flex;
      justify-content: space-around;
      .summary-item {
        text-align: center;
        .label {
          font-size: 0.8em;
          color: rgb(176, 176, 176);
          margin-bottom: 0.3em;
        }
        .value {
          font-size: 1.3em;
          color: white;
          font-weight: bold;
        }
      }
    }
  }
}

.layer-section {
  margin: 0 1em 1.5em;
  .layer-title {
    font-size: 1.5em;
    color: rgb(240, 145, 53);
    margin-bottom: 0.8em;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0.1em 0.05em rgba(0, 0, 0, 0.5);
  }
  .summary-card {
    background: rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 0.5em;
    padding: 1em;
    margin-bottom: 1em;
    .summary-content {
      display: flex;
      justify-content: space-around;
      .summary-item {
        text-align: center;
        .label {
          font-size: 0.8em;
          color: rgb(176, 176, 176);
          margin-bottom: 0.3em;
        }
        .value {
          font-size: 1.1em;
          color: white;
          font-weight: bold;
        }
      }
    }
    .buff-info {
      background: rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 0.5em;
      padding: 0.8em;
      margin-top: 0.8em;
      .buff-label {
        font-size: 0.9em;
        color: rgb(240, 145, 53);
        margin-bottom: 0.4em;
        font-weight: bold;
      }
      .buff-text {
        font-size: 0.85em;
        color: #ddd;
        line-height: 1.5;
        white-space: pre-wrap;
      }
    }
  }
}
.card {
  margin: 0 1em;
  .user-info {
    margin: 0 1em;
  }
  .status {
    background: url('./images/status.png') no-repeat center center;
    background-size: 110% 160%;
    aspect-ratio: 2.4;
    overflow: hidden;
    margin: 0 1em;
    margin-bottom: 1.5em;
    padding-top: 3.2em;
    padding-left: 2em;
    padding-right: 2em;
    justify-content: space-around;
    .info {
      display: flex;
      flex-direction: column;
      font-size: 2em;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1.1em;
      padding: 0 0.6em;
      .time {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: rgb(127, 127, 127);
        font-size: 0.5em;
        margin-bottom: 0.5em;
        .start {
          text-align: left;
          padding-left: 0.5em;
        }
        .end {
          text-align: right;
          padding-right: 0.5em;
        }
      }
      .cost {
        display: flex;
        justify-content: space-between;
        font-size: 0.6em;
        width: 100%;
        .rank {
          width: 2em;
          position: relative;
          .rank-icon {
            width: 72%;
            height: auto;
          }
        }
        .item {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 0.2em;
          .label {
            font-size: 0.9em;
            color: rgb(176, 176, 176);
          }
          .value {
            font-size: 1.1em;
            color: white;
            font-weight: bold;
          }
        }
      }
    }
  }
  .item-card {
    border-image-source: url('./images/BgFrame01.png');
    border-image-slice: 200 100 70 280 fill;
    border-image-width: 2em 1em 0.7em 2.8em;
    border-image-outset: 0em 0em 0em 0em;
    border-image-repeat: stretch stretch;
    padding: 0.8em 0.5em;
    margin-bottom: 1em;
    .title {
      display: flex;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.5);
      gap: 0.5em;
      padding: 0.2em 0.5em;
      font-size: 1.2em;
      box-shadow: 0 0.1em 0.05em rgba(0, 0, 0, 0.5);
      .rank-icon {
        width: 1em;
      }
      .content {
        z-index: 0;
        position: relative;
        flex-grow: 1;
        &::after {
          content: attr(data-content);
          -webkit-text-stroke: 0.22em #000;
          position: absolute;
          left: 0;
          top: 0;
          z-index: -1;
        }
      }
      .score {
        font-size: 0.9em;
        color: rgb(240, 145, 53);
        font-weight: bold;
      }
      .spent {
        color: #ddd;
        font-size: 0.8em;
      }
      &.a,
      &.A {
        color: rgb(195, 56, 240);
      }
      &.b,
      &.B {
        color: rgb(93, 189, 246);
      }
      &.s,
      &.S {
        color: rgb(240, 145, 53);
      }
      &.SP {
        color: rgb(255, 215, 0);
      }
    }
    .buff-info {
      background: rgba(0, 0, 0, 0.3);
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 0.5em;
      padding: 0.8em;
      margin-top: 0.8em;
      .buff-label {
        font-size: 0.9em;
        color: rgb(240, 145, 53);
        margin-bottom: 0.4em;
        font-weight: bold;
      }
      .buff-text {
        font-size: 0.85em;
        color: #ddd;
        line-height: 1.5;
        white-space: pre-wrap;
      }
    }

    .team {
      padding: 0.5em 2em;
      .info {
        display: flex;
        background-color: rgba(0, 0, 0, 0.2);
        align-items: center;
        margin-bottom: 0.5em;
        .label {
          padding: 0 0.5em;
        }
        .spent, .time {
        color: #ddd;
        font-size: 0.8em;
        padding: 0 0.2em;
      }
      .spent {
        margin-right: auto;
      }
      .buff-title {
        font-size: 0.75em;
        color: rgb(240, 145, 53);
        margin-left: 0.5em;
      }
        .advantage {
          display: flex;
          align-items: center;
          margin-left: 0.3em;
          font-size: 0.8em;
          gap: 0.3em;
          background-color: rgba(0, 0, 0, 0.6);
          backdrop-filter: blur(0.1em);
          height: 100%;
          padding: 0.1em 0.4em;
          border-radius: 0.4em 0 0 0.4em;
          min-width: 5.5em;
          .property {
            width: 1em;
          }
        }
      }
      .list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 0.8fr;
        align-items: flex-end;
        gap: 2em;
        .item {
          width: 100%;
          position: relative;
          > * {
            position: inherit;
            z-index: 1;
          }
          &.bangboo {
            font-size: 0.8em;
          }
          &::after {
            content: '';
            display: block;
            position: absolute;
            top: 0.2em;
            left: -0.2em;
            width: 100%;
            height: 100%;
            background: rgb(138, 51, 183);
            z-index: 0;
          }
          .rank {
            position: absolute;
            top: 0.2em;
            left: 0.1em;
            width: 1.5em;
            color: white;
            z-index: 2;
          }
          &.rankS {
            &::after {
              background: rgb(230, 119, 51);
            }
          }
          &.rankSP {
            &::after {
              background: rgb(255, 215, 0);
            }
          }
          &.rankB {
            &::after {
              background: rgb(93, 183, 249);
            }
          }
          .image {
            width: 100%;
            aspect-ratio: 0.8;
            background-color: #e2e2e2;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
              display: block;
            }
          }
          .c-info {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background: rgb(0, 0, 0);
            color: white;
            display: flex;
            text-align: center;
            .ranks {
              background: rgb(117, 117, 117);
              padding: 0 0.2em;
              &.r1 {
                background: rgb(58, 116, 43);
              }
              &.r2 {
                background: rgb(61, 132, 214);
              }
              &.r3 {
                background: rgb(223, 118, 118);
              }
              &.r4 {
                background: rgb(51, 54, 161);
              }
              &.r5 {
                background: rgb(102, 127, 19);
              }
              &.r6 {
                background: rgb(218, 48, 32);
              }
            }
            .level {
              flex-grow: 1;
              flex-shrink: 1;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              text-align: center;
            }
          }
          .property {
            position: absolute;
            top: 0.2em;
            right: 0.1em;
            width: 1.6em;
            background-color: #000;
            border-radius: 50%;
            border: solid 0.1em #000;
            color: white;
            z-index: 2;
          }
        }
      }
    }
  }
}
