{{extend defaultLayout}}

{{block 'css'}}
<link rel="stylesheet" href="{{@sys.currentPath}}/index.css">
{{/block}}

{{block 'main'}}
<div class="card">
  {{include sys.playerInfo}}
  <div class="status">
    <div class="info">
      <div class="time">
        <div class="start">{{abyss.begin_time}}</div>
        <div class="end">{{abyss.end_time}}</div>
      </div>
      <div class="cost">
        <div class="item rank">
          <div class="label">评级</div>
          <div class="rank-icon {{abyss.brief.rating.replace('+', 'P')}}"></div>
        </div>
        <div class="item">
          <div class="label">总分数</div>
          <div class="value">{{abyss.brief.score}}</div>
        </div>
        <div class="item">
          <div class="label">排名百分比</div>
          <div class="value">{{abyss.brief.rank_percent/100}}%</div>
        </div>
        <div class="item">
          <div class="label">最高通关防线</div>
          <div class="value">第{{abyss.max_layer}}防线</div>
        </div>
      </div>
    </div>
  </div>

  <% include(sys.specialTitle, {en: 'ABYSS' , cn: '式舆防卫战' }) %>

  {{if abyss.fifth_layer_detail}}
  <div class="layer-section">
    <div class="layer-title">第五层</div>
    <div class="summary-card">
      <div class="summary-content">
        <div class="summary-item">
          <div class="label">评级</div>
          <div class="value">{{abyss.fifth_layer_detail.rating}}</div>
        </div>
        <div class="summary-item">
          <div class="label">分数</div>
          <div class="value">{{abyss.fifth_layer_detail.score}}</div>
        </div>
        <div class="summary-item">
          <div class="label">总耗时</div>
          <div class="value">{{abyss.fifth_layer_detail.battle_time}}秒</div>
        </div>
        <div class="summary-item">
          <div class="label">挑战时间</div>
          <div class="value">{{abyss.fifth_layer_detail.formattedTime}}</div>
        </div>
      </div>
    </div>
    {{each abyss.fifth_layer_detail.nodes node i}}
    <div class="item-card">
      <div class="title {{node.rating}}">
        <div class="rank-icon {{node.rating.replace('+', 'P')}}"></div>
        <div class="content" data-content="第{{i+1}}关">第{{i+1}}关</div>
        <div class="spent">{{node.formattedTime}}</div>
        <div class="score">{{node.score}}分</div>
      </div>
      <div class="team">
        <div class="list">
          <% for(let i=0 ; i < 3 ; i++) { %>
            {{if node.avatar_list?.[i]}}
            {{set char = node.avatar_list[i]}}
            <div class="item char rank{{char.rarity}}">
              <div class="rank rank-icon {{char.rarity}}"></div>
              <div class="property {{char.element}}"></div>
              <div class="image">
                <img src="{{char.square_icon}}" alt="">
              </div>
              <div class="c-info">
                <div class="ranks r{{char.rank}}">{{char.rank}}影</div>
                <div class="level">等级{{char.level}}</div>
              </div>
            </div>
            {{else}}
              <div class="item char rankb"></div>
              {{/if}}
              <% } %>
                {{if node.buddy}}
                <div class="item bangboo rank{{node.buddy.rarity}}">
                  <div class="rank rank-icon {{node.buddy.rarity}}"></div>
                  <div class="image">
                    <img src="{{node.buddy.square_icon}}" alt="">
                  </div>
                  <div class="c-info">
                    <div class="level">等级{{node.buddy.level}}</div>
                  </div>
                </div>
                {{else}}
                  <div class="item bangboo rankb"></div>
                  {{/if}}
        </div>
      </div>
      {{if node.buff?.text}}
      <div class="buff-info">
        <div class="buff-label">{{node.buff?.title || ''}}</div>
        <div class="buff-text"><%- node.buff.text %></div>
      </div>
      {{/if}}
    </div>
    {{/each}}
  </div>
  {{/if}}

  {{if abyss.fourth_layer_detail}}
  <div class="layer-section">
    <div class="layer-title">第四层</div>
    <div class="summary-card">
      <div class="summary-content">
        <div class="summary-item">
          <div class="label">评级</div>
          <div class="value">{{abyss.fourth_layer_detail.formattedRating}}</div>
        </div>
        <div class="summary-item">
          <div class="label">总耗时</div>
          <div class="value">{{abyss.fourth_layer_detail.battle_time}}秒</div>
        </div>
        <div class="summary-item">
          <div class="label">挑战时间</div>
          <div class="value">{{abyss.fourth_layer_detail.formattedTime}}</div>
        </div>
      </div>
      {{if abyss.fourth_layer_detail.buff?.text}}
      <div class="buff-info">
        <div class="buff-label">{{abyss.fourth_layer_detail.buff?.title || ''}}</div>
        <div class="buff-text"><%- abyss.fourth_layer_detail.buff.text %></div>
      </div>
      {{/if}}
    </div>
    {{each abyss.fourth_layer_detail.nodes node i}}
    <div class="item-card">
      <div class="title {{abyss.fourth_layer_detail.rating}}">
        <div class="rank-icon {{abyss.fourth_layer_detail.rating.replace('+', 'P')}}"></div>
        <div class="content" data-content="第{{i+1}}关">第{{i+1}}关</div>
        <div class="spent">{{node.formattedTime}}</div>
      </div>
      <div class="team">
        <div class="list">
          <% for(let i=0 ; i < 3 ; i++) { %>
            {{if node.avatar_list?.[i]}}
            {{set char = node.avatar_list[i]}}
            <div class="item char rank{{char.rarity}}">
              <div class="rank rank-icon {{char.rarity}}"></div>
              <div class="property {{char.element}}"></div>
              <div class="image">
                <img src="{{char.square_icon}}" alt="">
              </div>
              <div class="c-info">
                <div class="ranks r{{char.rank}}">{{char.rank}}影</div>
                <div class="level">等级{{char.level}}</div>
              </div>
            </div>
            {{else}}
              <div class="item char rankb"></div>
              {{/if}}
              <% } %>
                {{if node.buddy}}
                <div class="item bangboo rank{{node.buddy.rarity}}">
                  <div class="rank rank-icon {{node.buddy.rarity}}"></div>
                  <div class="image">
                    <img src="{{node.buddy.square_icon}}" alt="">
                  </div>
                  <div class="c-info">
                    <div class="level">等级{{node.buddy.level}}</div>
                  </div>
                </div>
                {{else}}
                  <div class="item bangboo rankb"></div>
                  {{/if}}
        </div>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

{{/block}}