.container {
  background-image: url("./images/bg.png");
}

.rating-icon.S,
.rating-icon.SP {
  filter: drop-shadow(0 0 0.2em rgba(167, 193, 2, 0.8)) brightness(1.1);
}

.rating-icon.A,
.rating-icon.AP {
  filter: drop-shadow(0 0 0.2em rgba(201, 0, 201, 0.8)) brightness(1.1);
}

.rating-icon.B {
  filter: drop-shadow(0 0 0.2em rgba(0, 68, 209, 0.8)) brightness(1.1);
}

.card {
  margin: 0 1em;
  padding-top: 1em;
}
.card .tips {
  font-size: 0.8em;
  margin: 1em;
  color: #979797;
}
.card .tips p {
  margin-bottom: 0.5em;
}
.card .layer-container {
  background-color: rgba(0, 0, 0, 0.6);
  border: 0.15em solid #333;
  border-radius: 1em;
  padding: 1em;
  margin-bottom: 1em;
}
.card .lower-layer-container {
  background-color: rgba(0, 0, 0, 0.3);
  padding: 0.5em;
}
.card .layer-header {
  padding: 1em;
}
.card .layer-header .header-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.card .layer-header .header-top .title-section .layer-title {
  color: #aaa;
  margin: 0 0 0.5em 0;
  font-size: 1.3em;
  font-weight: lighter;
}
.card .layer-header .header-top .title-section .total-score-section {
  display: flex;
  align-items: center;
  gap: 0.5em;
}
.card .layer-header .header-top .title-section .total-score-section .total-score {
  color: #e6e6e6;
  font-size: 2.5em;
  text-shadow: 3px 4px #383434;
}
.card .layer-header .header-top .title-section .total-score-section .max-score-icon {
  filter: drop-shadow(0 0 0.1em rgba(197, 251, 255, 0.6)) brightness(1.1);
  width: 9.4em;
  height: 3.8em;
}
.card .layer-header .header-top .title-section .total-score-section .rank-container {
  position: relative;
  width: 6em;
  height: 3em;
}
.card .layer-header .header-top .title-section .total-score-section .rank-container .rank-icon {
  width: 100%;
  height: 100%;
}
.card .layer-header .header-top .title-section .total-score-section .rank-container .rank-text {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  color: #222;
  font-size: 1em;
  z-index: 2;
}
.card .layer-header .header-top .rating-icon {
  position: relative;
  top: -1em;
  right: 0;
  width: 7em;
  height: 7em;
}
.card .layer-header .header-bottom {
  display: flex;
  justify-content: space-between;
  color: #979797;
  font-size: 0.9em;
}
.card .layer-header .header-bottom .challenge-time {
  text-align: left;
}
.card .layer-header .header-bottom .total-battle-time {
  text-align: right;
}
.card .lower-header {
  position: relative;
}
.card .lower-header .rating-icon {
  position: absolute;
  top: -0.5em;
  right: 0.2em;
  width: 5em;
  height: 5em;
  z-index: 3;
}
.card .layer-content {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
.card .lower-layer-content {
  display: flex;
}
.card .item-card,
.card .lower-item-card {
  border-image-source: url("./images/BgFrame01.png");
  border-image-slice: 200 100 70 280 fill;
  border-image-width: 2em 1em 0.7em 2.8em;
  border-image-outset: 0em 0em 0em 0em;
  border-image-repeat: stretch stretch;
  padding: 1.5em 1.7em;
  display: flex;
  gap: 1.2em;
  position: relative;
}
.card .item-card .item-rating,
.card .lower-item-card .item-rating {
  position: absolute;
  top: 0.4em;
  right: 0.6em;
  width: 5em;
  height: 5em;
  z-index: 3;
}
.card .lower-item-card {
  flex: 1;
  padding: 1em;
}
.card .lower-item-card .cover {
  display: none;
}
.card .lower-item-card .content {
  width: 100%;
}
.card .lower-item-card .list {
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2em;
}
.card .cover {
  position: relative;
  height: 11em;
  border-radius: 0.6em;
  overflow: hidden;
  border: 0.1em solid #343434;
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.3), 0.2em 0.2em 0 rgb(0, 0, 0);
  flex-shrink: 0;
  flex-grow: 0;
  background-image: url("./images/boss_bg_4.png");
  background-size: cover;
  background-position: center;
}
.card .cover::before {
  content: "";
  position: absolute;
  border-radius: 0.6em;
  z-index: 2;
  inset: 0;
  border: 0.15em solid rgba(255, 255, 255, 0.3);
}
.card .cover img {
  height: 100%;
  position: relative;
  z-index: 1;
  display: block;
}
.card .content {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
  flex: 1;
  margin-right: 0.3em;
}
.card .content .team-icon {
  height: 1.5em;
  width: 3.8em;
}
.card .content .value {
  display: flex;
  font-size: 1.6em;
  gap: 0.2em;
  align-items: center;
}
.card .content .value .max-score-icon.score50000 {
  width: 3.2em;
  height: 1.2em;
  scale: 1.1;
  margin-top: 0.2em;
}
.card .content .value .val {
  background: linear-gradient(180deg, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.4) 100%);
  filter: drop-shadow(2px 4px 6px black);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.card .content .info {
  display: flex;
  margin-top: 0.3em;
  margin-bottom: 0.6em;
  font-size: 0.8em;
}
.card .content .info .time {
  color: #979797;
}
.card .content .info .buffer {
  color: #ccc;
  margin-left: auto;
}
.card .content .list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 0.7fr;
  align-items: flex-end;
  gap: 1em;
  margin-top: auto;
  margin-bottom: 0.2em;
}
.card .content .list .item {
  width: 100%;
  position: relative;
  border-radius: 0.5em;
  box-shadow: 0 0 0 0.12em black, 0 0 0 0.24em #333534;
  filter: drop-shadow(4px 6px 8px black);
}
.card .content .list .item > * {
  position: inherit;
  z-index: 1;
}
.card .content .list .item.bangboo {
  font-size: 0.8em;
}
.card .content .list .item .count {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.1em 0.3em;
  font-size: 0.8em;
  border-bottom-left-radius: 0.3em;
  border-top-right-radius: 0.5em;
}
.card .content .list .item .rank_disp {
  position: absolute;
  top: 0em;
  left: 0em;
  background-color: rgb(0, 0, 0);
  z-index: 2;
  padding: 0.1em;
  border-bottom-right-radius: 0.25em;
  border-top-left-radius: 0.25em;
}
.card .content .list .item .rank_disp .rank {
  width: 1em;
  color: white;
  position: relative;
}
.card .content .list .item .rank_disp .rank::before {
  content: "";
  position: absolute;
  top: -0.1em;
  right: -0.4em;
  width: 0.3em;
  height: 0.3em;
  background: radial-gradient(circle at 100% 0, transparent 0.3em, rgb(0, 0, 0) 0.3em);
  rotate: 90deg;
}
.card .content .list .item .rank_disp .rank::after {
  content: "";
  position: absolute;
  bottom: -0.4em;
  left: -0.1em;
  width: 0.3em;
  height: 0.3em;
  background: radial-gradient(circle at 100% 0, transparent 0.3em, rgb(0, 0, 0) 0.3em);
  rotate: 90deg;
}
.card .content .list .item .image {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0.5em;
  overflow: hidden;
}
.card .content .list .item .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
  display: block;
}
.card .content .list .item.bangboo .image {
  position: relative;
}
.card .content .list .item.bangboo .image img {
  width: 210%;
  height: 200%;
  position: absolute;
  object-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -35%);
}
.card .content .list .item .c-info {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgb(0, 0, 0);
  color: white;
  display: flex;
  text-align: center;
}

/*# sourceMappingURL=index.css.map */
